@model HaloMMSiteMVC.Models.Player
@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*if there's no error text in the ViewBag, don't display error box*@
@if (ViewBag.Error != "")
{
    <div class="errortext">@ViewBag.Error</div>
    <br />
}

<div class="info-text">
    <h4>Warning</h4>
    If the Gamertag you enter has never been searched on our site,
    it could take 10-15 minutes to add your games to our Database. Once a Gamertag has been searched once, all subsequent searches for it should only take a few seconds.
    <br />
    <h4>Requirements</h4>
    You must enter the <b>current</b> Gamertag of the Xbox Live accounts you are trying to search.
</div>

<div class="Icon">
    <img src="~/Content/information.png" width="20" height="20" />
</div>
<div class="daForm">
    <form action="SearchResults" method="post">

        Gamertag 1<br>

        <input type="text" name="gt1"><br><br>

        Gamertag 2<br>

        <input type="text" name="gt2"><br><br>

        <label>Matchmaking</label>

        @Html.CheckBox("mmCheckBox") <br />

        <label>Custom Games</label>

        @Html.CheckBox("cusCheckBox") <br />

        <input type="submit" value="Search">
    </form>
</div>


@if (Model.Name != null)
{
    <table>
        <tr>


            <th>
                Date
            </th>
            <th>
                Link
            </th>
            <th>
                Map
            </th>
            <th>
                Gametype
            </th>
            <th>
                Playlist
            </th>
        </tr>


        @foreach (var item in Model.GameList)
        {
            string gID = item.GameID.ToString();
            <tr>
                <td>
                    @Html.DisplayFor(Model => item.Date)
                </td>
                <td>
                    <a href='https://halo.bungie.net/Stats/GameStatsHalo3.aspx?gameid=@gID' target="_blank">Link</a>
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Map)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Gametype)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Playlist)
                </td>
            </tr>
        }
    </table>
}
